body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar-inner {
    width: 0;
    height: 10px;
    background-color: #007bff;
}

.question-number {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.question-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.options {
    margin-top: 20px;
}

.option {
    margin-bottom: 10px;
    cursor: pointer;
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #0056b3;
}

.container-background{
    background-color: darkslateblue;
}